ansible_password
.idea

# terraform cluster state
.terraform*
terraform.tfstate*

scripts/__pycache__/

# Env secrets
*.env

.DS_Store

# Nebari stages
stages/

# templated config with secrets
nebari-*-deploy.yaml
