apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: "2020-03-25T17:00:35Z"
  generation: 2
  labels:
    kops.k8s.io/cluster: {{ namespace }}.k8s.local
  name: nodes-us-east-2a
spec:
  cloudLabels:
    k8s.io/cluster-autoscaler/enabled: ""
    k8s.io/cluster-autoscaler/{{ namespace }}.k8s.local: ""
    k8s.io/cluster-autoscaler/node-template/label: ""
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20211001
  machineType: {{ node_size }}
  maxSize: {{ max_node }}
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: nodes-us-east-2a
    on-demand: "true"
  role: Node
  rootVolumeSize: {{ node_volume_size }}
  subnets:
  - us-east-2a
  taints:
  - on-demand=true:PreferNoSchedule
