name: Build Docker Images

on:
  pull_request:
    paths:
      - 'Dockerfile*'
  workflow_dispatch:

jobs:
  docker-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - tag: latest
            dockerfile: Dockerfile
          - tag: latest
            dockerfile: Dockerfile.allensdk
          - tag: latest-gpu
            dockerfile: Dockerfile.gpu
          - tag: latest-gpu-allensdk
            dockerfile: Dockerfile.gpu.allensdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./images
          file: ./images/${{ matrix.dockerfile }}
          push: false
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_DANDIHUB_USERNAME }}/dandihub:${{ matrix.tag }}
          cache-to: type=inline